body {
    background-color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
    width: 600px;
    margin: auto;
}
